@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
}

/* Fontes */
    p, li, option{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }
    h1, h2, h3, h4{
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
    }
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 24px;
    }
    .bold{
        font-weight: bold;
    }
    .regular{
        font-weight: 400;
    }

/* Alinhamento */
    .flex{
        display: flex;
    }
    .align{
        align-items: center;
    }
    .center{
        justify-content: center;
    }
    .around{
        justify-content: space-around;
    }
    .end{
        justify-content: end;
    }
    .direction_column{
        flex-direction: column;
    }
    .text-center{
        text-align: center;
    }

/* Cores */    
    .white{
        color: white;
    }
    .bg_white{
        background-color: white;
    }
    .black{
        color: black;
    }
    .bg_black{
        background-color: black;
    }
    .d_green{
        color: #003B1B;
    }
    .bg_d_green{
        background-color: #003B1B;
    }
    .l_green{
        color: #37693F;
    }
    .bg_l_green{
        background-color: #37693F;
    }

/* Tags padrão */
    li{
        list-style: none;
    }
    hr{
        height: 5px;
        width: 170px;
        border: none;
    }
    footer{
        height: 80px;
        justify-content: center;
        align-items: center;
    }

#home{
    height: 100vh;
    justify-content: space-around;
}
.header{
    height: 15vh;
    background-color: #003B1B;
}
#logo{
    height: 70%;
}
.float_left{
    float: left;
}
#header_button button{
    width: 150px;
    height: 40%;
    background: none;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#select_header{
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.banner{
    height: 85vh;
    background-image: url(img-home.png);
    background-size: cover;
}
.banner h1{
    margin-left: 100px;
}
.box-depoimento{
    width: 350px;
    height: 450px;
    border-radius: 5px;
    padding: 20px;
}
#box_1_depoimento{
    margin-left: 50px;
    margin-right: 50px;
}
.img_depoimento{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
.mt_100{
    margin-top: 100px;
}
.mb_100{
    margin-bottom: 100px;
}
.m_0{
    margin: 0;
}
.pt_40{
    padding-top: 40px;
}
.margin_header{
    margin-left: 120px;
    margin-right: 120px;
}
.margin_button_header{
    margin-left: 20px;
}
#main_visao{
    margin-top: 50px;
    margin-bottom: 50px;
}
#div_img_visao{
    margin-right: 50px;
}
#hr_visao_2{
    margin-left: 20px;
}
#indicador{
    height: 100vh;
}
#box_sobre{
    width: 100%;
}
#hr_break{
    width: 970px;
    margin-top: 50px;
}
.quadro_empresa{
    width: 370px;
    height: 350px;
    border: 1px solid black;
}
.quadro_empresa_2{
    width: 180px;
    height: 170px;
    border: 1px solid black;
}
#empresa_meio{
    margin-left: 50px;
    margin-right: 50px;
}
#inf_contato{
    margin-right: 100px;
}