@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&family=Inconsolata&family=Inter&family=PT+Sans:wght@400;700&family=Poppins:wght@400;700&family=Ubuntu:wght@300&display=swap');

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* Inicio Menu */

.header{
    background-color: #003B1B;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.header .logo{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
}

.navBar{
    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 0;
    justify-items: end;
    font-size: 14px;
    margin: auto;
    margin-right: 0px;
    font-family: 'Poppins';
    font-weight: 700;
}

.navBarForms{
    color: #FFFFFF;
    list-style: none;
    display: flex;
    justify-content:end;
    width: 70%;
    padding: 0;
    justify-items: end;
    font-size: 14px;
    margin: auto;
    margin-right: 0px;
    font-family: 'Poppins';
    font-weight: 700;
}

.navBar a{
    margin: auto;
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.navBar button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #003B1B;
    color: #FFFFFF;
    border: solid #FFFFFF 3px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navBar li{
    height: auto;
    align-self: center;
}

.navBarForms a{
    margin: auto;
    align-self: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.navBarForms button{
    background-color: #003B1B;
    color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.navBarForms li{
    height: auto;
    margin-left: 40px;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
}

.liDropdown{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.dropdown{
    top: 15px;
    list-style: none;
    padding: 20px;
    background-color: #000000;
    display: none;
    position: absolute;
    text-align: center;
}

.liDropdown:hover .dropdown{
    display: block;
}

.dropdown:hover{
    display: block;
}

.dropdown li{
    padding: 10px;
}

/* Fim Menu */

/* Inicio Tela Cadastro */

.container_cad .class_input{
    font-size: 2.4vh;
    margin-top: 3.5vh;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-bottom: 0.5vh;
    width: 37vh;

}

.container_cad #cpass{
    margin-bottom:0;
}

.container_cad {
    height: 80vh;
    width: 56vh;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
    margin-top: 10vh;
}

.container_cad h1{
    font-size: 5.5vh;  
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    margin-top: 6vh;
}

.container_cad p, a{
    margin: 0;

}

.container_cad .a_class:link{
    color: blue;
    text-decoration: none;
}

.container_cad .a_class:visited{
    color: blue;
    text-decoration: none;
}

.container_cad .a_class:hover{
    color: blue;
    text-decoration: none;
}

.conatainer_cad .a_class:active{
    color: blue;
    text-decoration: none;
}

.container_cad #btn_login {
    color: white;
    background-color: #3367A1;
    width: 11vh;
    height: 4vh;
    border: 0;
    border-radius: 30px;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 26vh;
}

/* Fim Tela Cadastro */

/* Inicio da Tela de Login */

.main{
    margin: 0;
    padding: 0;
    background-image: url("../assets/imgs/iStock-179766986.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.main img{
    height: 60px;
    width: 180px;
    position: absolute;
    display: flex;
    left: 15vh;
    top: 100%;

}

.containerLogin {
    height: 67vh;
    width: 56vh;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
    margin-top: 20vh;
}

.containerLogin h1{
    font-size: 5.5vh;  
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    margin-top: 6vh;
}

.containerLogin .class_input_log{
    font-size: 2.4vh;
    margin-top: 9vh;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-bottom: 0.5vh;
    width: 37vh;

}

.containerLogin #btn_login {
    color: white;
    background-color: #3367A1;
    width: 11vh;
    height: 4vh;
    border: 0;
    border-radius: 30px;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 26vh;
}

.containerLogin #a_recuperacao{
    color: rgb(107, 107, 107);
    font-size: 12px;
    margin-left: 26vh;
    margin-top: 0;
}

.containerLogin p{
    font-size: 2vh;
    margin-top: 5vh;
}


/* Fim da Tela de login */

/* Inicio Home */


.bannerHome{
    background-image: url("../assets/imgs/pexels-mark-stebnicki-2749165.jpg");
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.bannerHome .container{
    height: 85vh;
    align-items: center;
}

.bannerHome .slogan{
    width: 42%;
    margin: 0;
    margin-left: 80px;
}

.slogan h1{
    color: #FFFFFF;
    font-size: 65px;
    font-family: 'PT Sans';
}

.visao{
    display: flex;
}

.visao .container{
    flex-direction: column;
}

.tituloHome{
    font-family: 'PT Sans';
    color: #000000;
    font-size: 48px;
    text-align: center;
    text-decoration: underline #000000 5px;
    text-underline-offset: 30px;
    padding-bottom: 75px;
    font-weight: bold;
    margin: auto;
}

.visao h1{
    margin-top: 80px;
}

.contato h1{
    margin-top: 80px;
}

.bloco{
    display: flex;
    flex-direction: row;
}

.blocoEsquerda{
    display: flex;
    width: 60%;
    padding: 15px;
}

.blocoEsquerda img{
    height: 441px;
    width: 751px;
    object-fit: cover;
    border-radius: 5px;
}

.blocoDireita{
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.blocoDireita p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.separaTexto{
    width: 170px;
    height: 0px;
    border: 2px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sobre{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
}

.sobreEsquerda{
    display: flex;
    width: 518px;
    height: 770px;
    background-image: url("imagens/markus-spiske-9cHVqn9bBpQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.sobreDireita{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}



.sobre h2{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 32px;
}

.sobre p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.contato{
    display: flex;
    flex-direction: column;
}

.contato .container{
    flex-direction: column;
}

.blocoContato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contatoEsquerda{
    display: flex;
    flex-direction: column;
}

.contatoDireita{
    display: flex;
    flex-direction: column;
    border: solid #000000 3px;
}

.contato h2{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
}

.contato h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.parceiros{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.parceiros .container{
    flex-direction: column;
}

.areaParceiros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.quadroImagem{
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areaParceiros p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.parceiro1 img{
    height: auto;
    width: 250px;
}

.parceiro2 img{
    height: auto;
    width: 380px;
}

.parceiro2{
    border-right: solid #000000 1px;
    border-left: solid #000000 1px;
    padding: 50px;
    width: 380px;
    display: flex;
    flex-direction: column;
}

.parceiro1{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.areaParceiros{
    text-align: center;
}

.depoimento{
    margin-top: 80px;
    display: flex;
    background-color: #37693F;
    padding-bottom: 50px;
}

.depoimento .container{
    flex-direction: column;
}

.blocoCards{
    display: flex;
    flex-direction: row;
}

.cardDepoimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 350px;
    height: 450px;
    margin: 25px;
    padding: 15px;
}

.cardDepoimento img{
    height: 130px;
    width: 130px;
    border-radius: 150px;
    object-fit: cover;
    object-position: top;
}

.depoimento h1{
    color: #FFFFFF;
    text-decoration: underline #FFFFFF 5px;
    margin-top: 50px;
}

.depoimento h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.cardDepoimento h2{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.cardDepoimento h3{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

/* Fim Home */

/* Inicio Rodapé */

.footer{
    height: 80px;
    background-color: #000000;
    display: flex;
    margin-top: 150px;
}

.footer .container{
    justify-content: center;
    align-items: center;
}

.footer p{
    font-family: 'Poppins';
    font-weight: 400;
    color: #FFFFFF;
}


/* Fim Rodapé */