body {
    font-family: monospace;
    margin: 0;
}
.banner {
    background-image: url("https://github.com/eduardanv/Sprint-2/blob/main/Imagens%20git/iStock-179766986.jpg?raw=true");
    background-size: cover;
    height: 150vh;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
}
.banner .container {
    justify-content: center;
    font-size: 30px;
}
.banner .container .cd {
    background-color:white;
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    color:black;
    border-radius: 8px;
    margin-left: 800px;
    align-content: center;
    padding-left: 30px;
    margin-top: 300px;

    
    }
     .container .cd h1 {
        font-size: 30px;}
    
    .container .cd h4 {
            font-size: 12px;
    }
     .container .cd input{
        /* border:black solid 2px; */
        border: none;
        text-align:flex-start;
        border-bottom: solid black 2px;
        width: 400px;
    }
     .container .cd button {
        background-color:blue;
        margin-top: 25px;
        height: 40px;
        width: 120px;
        font:700 20px monospace;
        color:white;
       border: 0;
       border-radius: 4px;
       cursor:pointer;
       margin-left: 200px;
       font-size: 16px;
        }
        .imgLogo {
            width: 100px;
            height: auto;
       
           }