/* Padronizando o corpo do página divs pais*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	background: #085002bb;
	height: 100vh;
  display: flex;
}


.main {
  display: flex;
  border: 0;
  width: 100vw;
}

/* Fazendo a barra de navegaçâo */


.navbar {
  border: 0;
  height: 80vh;
  width: 17vw;
  text-align: center;
  font-size: 4vh;
  box-sizing: border-box;
  color: rgb(228, 226, 226);
  margin-top: 8vh;

}

.navbar li {
  cursor: pointer;
  list-style-type: none;
  position: relative;
}

.navbar li:hover{
  background-color: rgb(241, 240, 240);
  color: black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 5vh;
   margin-left: 3vh;
  padding: 0.5vh;
  box-sizing: border-box;
  font-weight: 400;
  transition: all ease-in-out 400ms;
}



/* Personalizando os estilos dos itens da nav-bar*/

.item-navbar{
  margin-top: 4vh;
 
 
}

.navbar #username {
  margin-top: 1vh;
  font-size: 2.8vh;
  font-weight: 500;
}
.navbar #cargo {
  margin-top: 1vh;
  font-size: 2.3vh;
  margin-bottom: 6vh;
}

.navbar #greenName {
  margin-bottom: 6vh;
  margin-top: 0;
  margin-right: 15vh;
  font-size: 3vh;
}

  #img_user{
  height: 15vh;
  width: 15vh;
  background-color: green;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
  display: inline-block;
}
/* FIm da NavBar */

/* Personalizando o retangulo Branco (container) */


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0;
  height: 90vh;
  width: 80vw;
  margin-top: 4vh;
  border-radius: 30px;
  background-color: rgb(241, 240, 240);
}

.container .titulos {
  border: 0;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-around;
  padding-top: 2vh;
  margin-top: 4vh;
  font-size: 3.5vh;
  font-weight: 0;
  color: rgb(41, 41, 41);
  box-sizing: border-box;
}

/* Personalizando a select box,que está na div  titulo */

.container .titulos select{
  cursor: pointer;
  height: 6vh;
  width: 17vh;
  color: white;
  background-color: #037c0d;
  border: 0;
  text-align: start;
  margin-top: 1vh;
  font-size: medium;
  font-weight: 900;
}

/* Ajustando e organizando as caixas de informações */

.container .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0;
  height: 20vh;
  width: 80vw;
  margin-top: 5vh;
  box-sizing: border-box;
}

/* Personalizando as caixas de informaçcôes */

.container .box {
  width: 45vh;
  padding-top: 3vh;
  display: flex;
  padding-left: 2vh;
  box-sizing: border-box;
  box-shadow: 0 8px 8px -4px;
}

/* Personalizando os textos das caixas de informações */

.container .boxes .box .text{
  display: flex;
  border: 0;
  flex-direction: column;
  width: 100vw;
  padding-top: 2vh;
  padding-left: 1.5vh;
}

.container .boxes .box .text p{
  color: rgba(80, 79, 79, 0.801);
  margin-bottom: 2vh;
}

.container .boxes .box .text h4{
  font-size: 6vh;
  text-align: start;
  margin-left: 4vh;
}

/* Arrumando as imagens da box, deixando-as com as mesmas propriedades */

.box img {
  height: 10vh;
  width: 10vh;
  display: inline-block;
  border-radius: 50%;
  background-color: bisque;
  border: 2px solid rgba(54, 52, 52, 0.719);
  margin-top: 3vh;
  opacity: 1;
}

/* Ajustando a box dos dados e métricas (gráficos e etc) */

.box-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:0;
  height: 45vh;
  box-sizing: border-box;
}

.boxes-data {
  display: flex;
  flex-direction: column;
  height: 35vh;
  border: 2px solid rgba(182, 182, 182, 0.486);
  width: 40vh;
  overflow: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.div-estufas{
  display: flex;
  flex-direction: row;
  border: 0;
  border-bottom: 2px solid rgba(87, 87, 87, 0.253);
  cursor: pointer;

}

.div-estufas p {
  font-size: 25px;
  font-family: monospace;
  
  margin-top: 10px;
  width: 100%;
}

/* Divs dos avisos, deixando-os intuitivo */
.div-estufas .aviso-normal {
  border: 2px solid green;
  height: 10px;
  margin-top: 15px;
  background-color: green;
  border-radius: 100%;
  margin-right: 11px;
  width: 11px;


  
}
.div-estufas .aviso-cuidado {
  border: 2px solid rgb(255, 123, 0);
  height: 10px;
  background-color: rgb(255, 123, 0);
  border-radius: 100%;
  margin-right: 11px;
  margin-top: 15px;
  width: 11px;
  box-shadow: 0 0 10px 2px rgb(255, 123, 0);
  animation: alert 2s infinite alternate;
  
  
}
.div-estufas .aviso-perigo {
  border: 2px solid rgb(201, 9, 9);
  height: 10px;
  background-color: rgb(201, 9, 9);
  border-radius: 100%;
  margin-right: 11px;
  width: 11px;
  margin-top: 15px;
  box-shadow: 0 0 10px 2px red;
  animation: alert 0.5s infinite alternate;
  
}

.div-estufas .aviso-off {
  border: 2px solid grey;
  height: 10px;
  margin-top: 15px;
  background-color: grey;
  border-radius: 100%;
  margin-right: 11px;
  width: 11px;
}

@keyframes alert {
  0% {
    box-shadow: none;
  }
}


.boxes-metrica {
  display: flex;
  flex-direction: column;
  height: 35vh;
  border: 2px solid rgba(182, 182, 182, 0.486);
  width: 70vh;
  overflow: auto;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 10px;

  
}
.boxes-metrica .titulos {
  display: flex;
  margin-top: 1px;
  font-weight: 600;
  font-size: 25px;
  justify-content: space-between;
  padding: 10px;
}


.div-metrica{
  border-bottom: 2px solid rgba(182, 182, 182, 0.63);
  height: 30%;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  
}

.boxes-metrica .div-metrica .temp{
 
  display: flex;
  width: 10vh;
  justify-content: center;
  padding-top: 10px;
  font-size: 20px;
  margin-right: 70px;



}

.boxes-metrica .div-metrica .umidade {
  display: flex;
  width: 10vh;
  justify-content: center;
  padding-top: 10px;
  padding-right: 19px;
  box-sizing: border-box;
  margin-right: 20px;
 
}

.div-metrica p{
  font-size: 20px;
  border: 0;
}

.div-estufa-name {
  margin-left: 10px;
  display: flex;
  width: 20vh;
  justify-content: flex-start;
  padding-top: 10px;
  font-size: 20px;
}

.boxes-metrica  #vermelho p {
  color: red;
  font-weight: bold;
}