@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,500&family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,500&family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,500&family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap');

html {
	height: 100%;
    width: 100%;

}
body {
    margin: 0;
    padding: 0;
    background-image: url(imagens/back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    position: fixed;
  }

.main img{
    height: 10vh;
    width: 25vh;
    position: fixed;
    display: flex;
    left: 15vh;
    top: 85vh;

}
.main {
    display: flex;
    width: 199vh;
    height: 99vh;
    justify-content: flex-end;
}

/* Começo do campo de login */

.container {
    height: 67vh;
    width: 56vh;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
    margin-top: 20vh;
}

.container h1{
    font-size: 5.5vh;  
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    margin-top: 6vh;
}

.container .class_input_log{
    font-size: 2.4vh;
    margin-top: 9vh;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-bottom: 0.5vh;
    width: 37vh;

}

.container #btn_login {
    color: white;
    background-color: #3367A1;
    width: 11vh;
    height: 4vh;
    border: 0;
    border-radius: 30px;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 26vh;
}

.container #a_recuperacao{
    color: rgb(107, 107, 107);
    font-size: 1vh;
    margin-left: 26vh;
    margin-top: 0;
}

p{
    font-size: 2vh;
    margin-top: 5vh;
}


/*fim da parte do Login*/


/* configurando o href para deixar tudo igual*/
.a_class {
    cursor: pointer;
}

.container .a_class:link{
    color: blue;
    text-decoration: none;
}

.container .a_class:visited{
    color: blue;
    text-decoration: none;
}

.container .a_class:hover{
    color: blue;
    text-decoration: none;
}

.conatainer .a_class:active{
    color: blue;
    text-decoration: none;
}

#span_error{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
}


/*começo do logastro */

.container_cad .class_input{
    font-size: 2.4vh;
    margin-top: 3.5vh;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    margin-bottom: 0.5vh;
    width: 37vh;

}

.container_cad #cpass{
    margin-bottom:0;
}

.container_cad {
    height: 80vh;
    width: 56vh;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
    margin-top: 10vh;
}

.container_cad h1{
    font-size: 5.5vh;  
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    margin-top: 6vh;
}

.container_cad p, a{
    margin: 0;

}

.container_cad .a_class:link{
    color: blue;
    text-decoration: none;
}

.container_cad .a_class:visited{
    color: blue;
    text-decoration: none;
}

.container_cad .a_class:hover{
    color: blue;
    text-decoration: none;
}

.conatainer_cad .a_class:active{
    color: blue;
    text-decoration: none;
}

.container_cad #btn_login {
    color: white;
    background-color: #3367A1;
    width: 11vh;
    height: 4vh;
    border: 0;
    border-radius: 30px;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 26vh;
}